html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
    overflow-x: hidden;
    color: black;
    background-image: url(images/tags.jpeg);
    background-size: 2000px;
    background-position: 0px 70px;
    background-repeat: no-repeat;
    background-color: #e1e2e4;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 249px;
    border-bottom: 1px solid #A67B5B;
    background-color: #a67b5be8;
}

header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    text-decoration: none;
    color: black;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
}

header ul li a:hover {
    color: #6F4E37;
}

header ul .submenu {
    position: absolute;
    width: 200px;
    background-color: #a67b5bcc;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

.logo h2 {
    font-family: "Croissant One", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    transform: translate(0px, -10px);
}
.logo img {
    height: 50px;
    aspect-ratio: auto;
}

.logo img, h2{
    display: inline-block;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a67b5b00;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  margin-top: 1110px;
  padding: 10px;
}

.container {
	padding: 2rem;
    transform: translate(300px, 100px);
}

.slider-wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.534);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
    border: 2px solid #6F4E37;
    background-color: #a67b5be8;
    
}

.card h3 {
    font-family: "Croissant One", serif;
    font-size: 30px;
    font-weight: 400;
    transform: translate(400px, 25px);
}

.card p {
    font-family: "Bentham", serif;
    font-weight: 600;
    font-size: 17.5px;
    line-height: 2.0;
    padding: 50px;
    color: #000000;
}

.card a {
    display: flex;
    width: 20%;
    text-align: center;
    color: black;
    background: #947e6f;
    border: 2px solid #2b1e13;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    margin-left: 50px;
    transform: translate(0, -40px);
}

.card a:hover {
    background: #a9978a;
    border: 2px solid #2b1e13;
}

.title h1 {
    display: flex;
    transform: translate(800px, 900px);
}

.title hr {
    display: flex;
    transform: translate(800px, 900px);
    border: none;
    width: 348px;
    height: 5px;
    background-color: #6F4E37;
    border-radius: 10px;
    margin-bottom: 20px;   
}

.container1{
    position: absolute;
    transform: translate(100px, 300px);
    height: 800px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
  }
  .front-face1, .back-face1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #A67B5B;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    transition: transform .4s linear;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.623);
  }
  .cover{
    height: 115px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    width: 450px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 10px;
  }
  .name{
    font-family: "Croissant One", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin-top: 200px;
  }
  .tag{
    padding: 5px 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  .about {
    display: flex;
    padding: 0px 35px;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }
  .back-face1 h1{
    color: #0d0d0d;
    font-size: 50px;
  }

  .back-face1 hr {
    display: flex;
    transform: translate(80px, 0px);
    border: none;
    width: 348px;
    height: 5px;
    background-color: #6F4E37;
    border-radius: 10px;
    margin-bottom: 20px;   
}

  .back-face1 h3 {
    font-family: "Croissant One", serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
  }
  .back-face1 p{
    padding: 20px;
    color: #262626;
    text-align: justify;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
  }

  
  .back-face1{
    transform: perspective(800px) rotateY(-180deg);
  }
  .front-face1{
    transform: perspective(800px) rotateY(0deg);
  }
  .container1:hover > .back-face1{
    transform: perspective(800px) rotateY(0deg);
  }
  .container1:hover > .front-face1{
    transform: perspective(800px) rotateY(180deg);
  }
  
  .container2{
    position: absolute;
    transform: translate(700px, 300px);
    height: 800px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
  }
  .front-face2, .back-face2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #A67B5B;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    transition: transform .4s linear;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.623);
  }
  .cover2{
    height: 115px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile2{
    width: 450px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 10px;
  }
  .name2{
    font-family: "Croissant One", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin-top: 240px;
  
  }
  .tag2{
    padding: 5px 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  .about2 {
    display: flex;
    padding: 0px 35px;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }
  .back-face2 h1{
    color: #0d0d0d;
    font-size: 50px;
  }

  .back-face2 hr {
    display: flex;
    transform: translate(80px, 0px);
    border: none;
    width: 348px;
    height: 5px;
    background-color: #6F4E37;
    border-radius: 10px;
    margin-bottom: 20px;   
}

  .back-face2 h3 {
    font-family: "Croissant One", serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
  }
  .back-face2 p{
    padding: 20px;
    color: #262626;
    text-align: justify;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
  }

  .back-face2{
    transform: perspective(800px) rotateY(-180deg);
  }
  .front-face2{
    transform: perspective(800px) rotateY(0deg);
  }
  .container2:hover > .back-face2{
    transform: perspective(800px) rotateY(0deg);
  }
  .container2:hover > .front-face2{
    transform: perspective(800px) rotateY(180deg);
  }

  .container3{
    position: absolute;
    transform: translate(1300px, 300px);
    height: 800px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
  }
  .front-face3, .back-face3{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #A67B5B;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    transition: transform .4s linear;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.623);
  }
  .cover3{
    height: 115px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile3{
    width: 450px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 10px;
  }
  .name3{
    font-family: "Croissant One", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin-top: 150px;
  }
  .tag3{
    padding: 5px 0;
  }

  .about3 {
    display: flex;
    padding: 0px 35px;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }

  .back-face3 h1{
    color: #0d0d0d;
    font-size: 50px;
  }

  .back-face3 hr {
    display: flex;
    transform: translate(80px, 0px);
    border: none;
    width: 348px;
    height: 5px;
    background-color: #6F4E37;
    border-radius: 10px;
    margin-bottom: 20px;   
}

  .back-face3 h3 {
    font-family: "Croissant One", serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
  }
  .back-face3 p{
    padding: 20px;
    color: #262626;
    text-align: justify;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
  }
  
  .back-face3{
    transform: perspective(800px) rotateY(-180deg);
  }
  .front-face3{
    transform: perspective(800px) rotateY(0deg);
  }
  .container3:hover > .back-face3{
    transform: perspective(800px) rotateY(0deg);
  }
  .container3:hover > .front-face3{
    transform: perspective(800px) rotateY(180deg);
  }

.tags {
  color:#6F4E37

}